.github-corner svg {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px;
}

.octo-arm {
    transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

#intro {
    margin: 2% 8%;
    font-size: 170%;
}

#page {
    margin: 2%;
    font-size: 500%;
    line-height: 130px;
    text-align: center;
}

.main {
    padding: 10px;
    font-weight: bold;
}

.sub {
    position: absolute;
    bottom: 2px;
    font-size: 30%;
    font-style: italic;
}

#bit {
    color: #F00;
    font-size: 200%;
}

#ad {
    text-align: center;
}

.adsbygoogle {
    display: inline-block;
    width: 728px;
    height: 90px;
}

#trail {
    margin: 3%;
    font-size: 140%;
    text-align: center;
}

/* Hide all Architecture specific HTML on page load */
.unknown,
.mobile,
.arch64,
.arch32 {
    display: none;
}

/* Only display the content if the JS added a matching class to the HTML tag */
html.unknown,
html.mobile,
html.arch64,
html.arch32,
html.unknown .unknown,
html.mobile .mobile,
html.arch64 .arch64,
html.arch32 .arch32 {
    display: block;
}
