#intro {
    margin: 2% 8%;
    font-size: 170%;
}

#page {
    margin: 2%;
    font-size: 500%;
    line-height: 130px;
    text-align: center;
}

.main {
    padding: 10px;
    font-weight: bold;
}

.sub {
    position: absolute;
    bottom: 2px;
    font-size: 30%;
    font-style: italic;
}

#bit {
    color: #F00;
    font-size: 200%;
}

#ad {
    text-align: center;
}

#trail {
    margin: 3%;
    font-size: 140%;
    text-align: center;
}

/* Hide all Architecture specific HTML on page load */
.unknown,
.mobile,
.arch64,
.arch32 {
    display: none;
}

/* Only display the content if the JS added a matching class to the HTML tag */
html.unknown,
html.mobile,
html.arch64,
html.arch32,
html.unknown .unknown,
html.mobile .mobile,
html.arch64 .arch64,
html.arch32 .arch32 {
    display: block;
}
