#intro {
	margin: 2% 8%;
	font-size: 170%;
}

#page {
	margin: 2%;
	font-size: 500%;
	line-height: 130px;
	text-align: center;
}

.main {
	padding: 10px;
	font-weight: bold;
}

.sub {
	position: absolute;
	bottom: 2px;
	font-size: 30%;
	font-style: italic;
 }

#bit {
	color: red;
	font-size: 200%;
}

#trail {
	margin: 3%;
	font-size: 140%;
	text-align: center;
}